.App {
  text-align: center;
  background: lightgray;
  font-family: "Varela Round";
  color: black;
}

.petTitle {
  color: white;
  font-family: "Dancing Script"
}

.buddies {
  font-family: "Arima Madurai";
  color: #D7A24A;
}

.navBar{
  /* background: pink; */
}

/* Home Component Styling Start */

.homePage {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.carouselText {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.d-block {
  width: 100%;
  height: 400px;
}

.paw{
  color: black;
  font-size: 40px;
  margin-top: 100px;
}

.paw:hover{
  color: pink;
}

.homeText{
  color: white;
}

/* Home Component Styling End */

/* Dog & Cat Component Styling Start */

.card {
  border-radius: 10%;
  margin: 10px;
  box-shadow: 10px 10px 5px grey;
}

.cardButtons {
  display: flex;
  justify-content: center;
}

.dogPic, .catPic{
  width: 320px;
  height: 350px;
  border-radius: 10%;
  justify-content: center;
  margin: 0 auto;
}

.pics {
  width: 400px;
  height: 400px;
  margin: 10px;
}

.doggy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kitty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button{
  height: 30px;
  background-color: #95b0f6;
  color: black;
  border: none;
}

.button:hover{
  background-color: #2f7fe7;
  color: black;
}

.adopt {
  background-color: rgb(245, 218, 222);
  border: none;
}

.adopt:hover{
  background-color:rgb(240, 149, 162);
}


/* Dog & Cat Component Styling End */

/* Tame Me Home Component Styling Start */

.adoptedSquad{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* Take Me Home Component Styling End */


/* Pet Care Component Styling Start */

.pageTitle {
  font-size: 40px;
  color: white;
  
}

.petCare {
  background-image: url("pembroke-welsh-corgi.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.petCareTitle {
  color: black;
  background-color: #f8e184;
  width: 300px;
  margin: 0 auto;
  border-radius: 25px;
  font-size: 25px;
}

.details {
  background-color: rgb(255, 255, 255, 0.5);
  margin: 20px;
  border: 20px;
  border-radius: 25px;
  font-size: 20px;
}

/* Pet Care Component Styling End */

/* Contact Component Styling Start */

.contact {
  margin: 30px;
}

.message {
  height: 300px;
}

.copywright{
  bottom: 0;
  position: fixed;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.heart {
  color: pink;
}

/* Contact Component Styling End */

/*Responsive Design */

/*Tablet view */
@media only screen and (min-width: 678px){

  .d-block{
    height: 600px;
  }

  .petCare {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  

};

/*Desktop view */
@media only screen and (min-width: 992px){

  .d-block{
    height: 900px;
  }
};